<nav>
  <div class="site-title">
    <a href="/" class="normal"><h1>Pollution Reporter</h1></a>
    <p>A <a href="https://www.start2impact.it/" class="normal" target="_blank">start2impact</a> project</p>
  </div>
  <ul class="navigatore">
    <li><a href="/" class="normal">Home</a></li>
    <li><a href="/reports/allReports" class="normal">All Reports</a></li>
    <li><a href="/reports/insertReport" class="normal">Insert Report</a></li>
  </ul>
</nav>