<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/reports/allReports">All Reports</a></li>
    <li><a href="/reports/insertReport">Insert Report</a></li>
  </ul>
</nav>