<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="about content">
    <h2>Home page</h2>
    <p>This site reports case of pollution around the world</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>