<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="about content">
    <p>This app reports case of pollution around the world.</p>
    <p>It's a project for the Node.js module of <a href="https://www.start2impact.it/">start2impact</a> web development course.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>