<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="about content">
    <p>This app reports case of pollution around the world.</p>
    <p>It's a project for the Node.js module of <a href="https://www.start2impact.it/" target="_blank">start2impact</a> web development course.</p>
    <p>
      With the navigation bar you are able to insert a new report, or check all reports existing. <br>
      By clicking on a specific report you can check the description and the picture, if you click on the author 
      you'll find all the posts from him. <br> 
      There are 5 different types of pollution you can choose when you insert a new report, each one with a different color:
    </p>
    <ul>
      <li class="Air">Air</li>
      <li class="Chemicals">Chemicals</li>
      <li class="Waste">Waste</li>
      <li class="Water">Water</li>
      <li class="Other">Other</li>
    </ul>
    <p>Full code on <a href="https://github.com/paolodellorti/Node.js-Project" target="_blank">GitHub</a>.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>